  body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.heading {
  max-width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: greenyellow;
}

.weather-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 1rem;
}

.search-bar h2 {
  margin-bottom: 10px;
}

.search-bar {
  position: absolute;
  width: 20%;
  height: 100vh;
}

#city {
  margin-bottom: 10px;
  resize: none;
  border-radius: 5px;
  color: rgba(red, green, blue, 0.25);
}

.search-btn {
  width: 60%;
  color: white;
  background-color: greenyellow;
  border-radius: 5px;
  border: none;
}

.search-btn:hover {
  background: rgba(0, 0, 255, .8);
  transition: .25s ease-in-out;
}

.weather-info {
  display: flex;
  border: 1px solid black;
  position: absolute;
  margin-top: 2%;
  left: 20rem;
  width: 65%;
  height: 20vh;
}

.main-column {
  font-size: 16px;
  margin-bottom: 5px;
}

.weather-info h2 {
  margin-top: 10px;
}

.weather-info p {
  margin-top: 5px;
}

.forecast {
  position: absolute;
  left: 20rem;
  top: 18rem;
  width: 80%;
}

.forecast h1 {
  left: 15rem;
  top: 15rem;
}

.column {
  float: left;
  width: 15%;
  padding: 0 10px 0 0px;
  margin-top: 10px;
}

.day1, .day2, .day3, .day4, .day5 {
  visibility: hidden;
  text-align: center;
  font-size: 12px;
  height: 20vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
  border-radius: 5px;
  background-color:greenyellow;
  color: blueviolet;
}

.day1 p, .day2 p, .day3 p, .day4 p, .day5 p {
  margin: 10px;
  font-size: 16px;
}

.saved-city {
  padding: 0;
  margin-top: 5px;
  width: 60%;
  color: white;
  background-color: gray;
  border-radius: 5px;
  border: none;
}

.saved-city:hover {
  background: rgba(85, 85, 85, 0.8);
  transition: .25s ease-in-out;
}

hr.rounded {
  margin-left: 0;
  padding: 0;
  width: 60%;
  border-top: 3px solid grey;
  border-radius: 1px;
}

.uv-moderate {
  width: 20%;
  color: white;
  background-color: yellow;
  border-radius: 5px;
  border: none;
}

.uv-danger {
  width: 20%;
  color: white;
  background-color: red;
  border-radius: 5px;
  border: none;
}
.uv-safe {
  width: 20%;
  color: white;
  background-color: green;
  border-radius: 5px;
  border: none;
}